<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_kuang_game.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,1177},{400,388}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,388}}</string>
                <key>sourceSize</key>
                <string>{400,388}</string>
            </dict>
            <key>bg_kuang_game_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,681},{400,323}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,323}}</string>
                <key>sourceSize</key>
                <string>{400,323}</string>
            </dict>
            <key>blank.png</key>
            <dict>
                <key>frame</key>
                <string>{{673,1688},{62,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,62}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>btn_back_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,1581},{102,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,77}}</string>
                <key>sourceSize</key>
                <string>{102,77}</string>
            </dict>
            <key>btn_back_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,1581},{102,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,77}}</string>
                <key>sourceSize</key>
                <string>{102,77}</string>
            </dict>
            <key>btn_close_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,1581},{82,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,82}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>btn_close_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,1602},{82,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,82}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>btn_phonecall.png</key>
            <dict>
                <key>frame</key>
                <string>{{533,1665},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>btn_qq.png</key>
            <dict>
                <key>frame</key>
                <string>{{603,1505},{56,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,68}}</string>
                <key>sourceSize</key>
                <string>{56,68}</string>
            </dict>
            <key>btn_share_ryfriend_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,1581},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>btn_share_ryfriend_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,1581},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>btn_umeng_socialize_wechat.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,1665},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>btn_umeng_socialize_wechat_gray.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,1581},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>btn_umeng_socialize_wxcircle.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,1665},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>btn_umeng_socialize_wxcircle_gray.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,1581},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>btn_voice_chat_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,1385},{88,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,88}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>btn_voice_chat_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,1289},{88,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,92}}</string>
                <key>sourceSize</key>
                <string>{88,92}</string>
            </dict>
            <key>chag_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{603,1761},{411,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{411,59}}</string>
                <key>sourceSize</key>
                <string>{411,59}</string>
            </dict>
            <key>chat_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,663},{668,446}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{668,446}}</string>
                <key>sourceSize</key>
                <string>{668,446}</string>
            </dict>
            <key>chat_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,1825},{76,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,76}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>chat_close_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,1745},{76,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,76}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>chat_his.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,1085},{595,252}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{595,252}}</string>
                <key>sourceSize</key>
                <string>{595,252}</string>
            </dict>
            <key>chat_item_framebg.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,1113},{595,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{595,60}}</string>
                <key>sourceSize</key>
                <string>{595,60}</string>
            </dict>
            <key>chat_record_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,1688},{235,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{235,65}}</string>
                <key>sourceSize</key>
                <string>{235,65}</string>
            </dict>
            <key>chat_record_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,1688},{235,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{235,65}}</string>
                <key>sourceSize</key>
                <string>{235,65}</string>
            </dict>
            <key>chat_send.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,1761},{155,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,57}}</string>
                <key>sourceSize</key>
                <string>{155,57}</string>
            </dict>
            <key>chat_send_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,1761},{155,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,57}}</string>
                <key>sourceSize</key>
                <string>{155,57}</string>
            </dict>
            <key>chat_texts_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,1688},{235,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{235,65}}</string>
                <key>sourceSize</key>
                <string>{235,65}</string>
            </dict>
            <key>chat_texts_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,1688},{235,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{235,65}}</string>
                <key>sourceSize</key>
                <string>{235,65}</string>
            </dict>
            <key>icon_public_game_score.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,1927},{130,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,106}}</string>
                <key>sourceSize</key>
                <string>{130,106}</string>
            </dict>
            <key>icon_public_money.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,1927},{113,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,113}}</string>
                <key>sourceSize</key>
                <string>{113,113}</string>
            </dict>
            <key>icon_public_room_card.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,1477},{121,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,82}}</string>
                <key>sourceSize</key>
                <string>{121,82}</string>
            </dict>
            <key>p_bt_cancel_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,1177},{192,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,66}}</string>
                <key>sourceSize</key>
                <string>{192,66}</string>
            </dict>
            <key>p_bt_cancel_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{603,1565},{192,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,66}}</string>
                <key>sourceSize</key>
                <string>{192,66}</string>
            </dict>
            <key>p_bt_close_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,1688},{61,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,61}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
            <key>p_bt_close_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{739,1688},{61,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,61}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
            <key>p_bt_sure_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{603,1309},{192,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,68}}</string>
                <key>sourceSize</key>
                <string>{192,68}</string>
            </dict>
            <key>p_bt_sure_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{603,1113},{192,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,68}}</string>
                <key>sourceSize</key>
                <string>{192,68}</string>
            </dict>
            <key>player_vip_game.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,1927},{114,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,114}}</string>
                <key>sourceSize</key>
                <string>{114,114}</string>
            </dict>
            <key>pub_btn_introduce_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,1187},{88,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,98}}</string>
                <key>sourceSize</key>
                <string>{88,98}</string>
            </dict>
            <key>pub_btn_introduce_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,1085},{88,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,98}}</string>
                <key>sourceSize</key>
                <string>{88,98}</string>
            </dict>
            <key>pub_btn_introduce_c_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,1665},{76,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,76}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>pub_btn_introduce_c_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,1920},{76,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,76}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>pub_btn_introduce_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,4},{200,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,54}}</string>
                <key>sourceSize</key>
                <string>{200,54}</string>
            </dict>
            <key>pub_sp_introduce_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{958,655}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{958,655}}</string>
                <key>sourceSize</key>
                <string>{958,655}</string>
            </dict>
            <key>record_chat_begin_ani_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{533,1802},{66,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,63}}</string>
                <key>sourceSize</key>
                <string>{66,63}</string>
            </dict>
            <key>record_chat_begin_ani_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{533,1735},{66,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,63}}</string>
                <key>sourceSize</key>
                <string>{66,63}</string>
            </dict>
            <key>record_play_ani_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,266},{25,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,35}}</string>
                <key>sourceSize</key>
                <string>{25,35}</string>
            </dict>
            <key>record_play_ani_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,237},{25,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,35}}</string>
                <key>sourceSize</key>
                <string>{25,35}</string>
            </dict>
            <key>record_play_ani_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,208},{25,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,35}}</string>
                <key>sourceSize</key>
                <string>{25,35}</string>
            </dict>
            <key>record_volum_aini_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,610},{23,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,67}}</string>
                <key>sourceSize</key>
                <string>{23,67}</string>
            </dict>
            <key>record_volum_aini_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{993,579},{23,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,67}}</string>
                <key>sourceSize</key>
                <string>{23,67}</string>
            </dict>
            <key>record_volum_aini_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,539},{23,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,67}}</string>
                <key>sourceSize</key>
                <string>{23,67}</string>
            </dict>
            <key>record_volum_aini_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{993,508},{23,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,67}}</string>
                <key>sourceSize</key>
                <string>{23,67}</string>
            </dict>
            <key>record_volum_aini_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,468},{23,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,67}}</string>
                <key>sourceSize</key>
                <string>{23,67}</string>
            </dict>
            <key>record_volum_aini_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{993,437},{23,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,67}}</string>
                <key>sourceSize</key>
                <string>{23,67}</string>
            </dict>
            <key>record_volum_aini_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,397},{23,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,67}}</string>
                <key>sourceSize</key>
                <string>{23,67}</string>
            </dict>
            <key>record_volum_aini_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{993,366},{23,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,67}}</string>
                <key>sourceSize</key>
                <string>{23,67}</string>
            </dict>
            <key>record_volum_aini_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,326},{23,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,67}}</string>
                <key>sourceSize</key>
                <string>{23,67}</string>
            </dict>
            <key>record_volum_aini_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{997,295},{23,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,67}}</string>
                <key>sourceSize</key>
                <string>{23,67}</string>
            </dict>
            <key>sp_dot.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,295},{27,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,27}}</string>
                <key>sourceSize</key>
                <string>{27,27}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>public.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2cb6178d5565ef39a2e6df16b80a1be2$</string>
            <key>textureFileName</key>
            <string>public.png</string>
        </dict>
    </dict>
</plist>
